@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h3>Bowlers</h3>

<table class="table table-sm table-bordered table-striped">

    <thead>

        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
        <th>Phone Number</th>
        <th>Team Name</th>
        <th></th>
        <th></th>

    </thead>

    <tbody>
        @foreach (var b in Model)
        {
            <tr>

                <td>@b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName</td>
                <td>@b.BowlerAddress</td>
                <td>@b.BowlerCity</td>
                <td>@b.BowlerState</td>
                <td>@b.BowlerZip</td>
                <td>@b.BowlerPhoneNumber</td>
                <td>@b.Team.TeamName</td>
                <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
                <td><a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a></td>

            </tr>
        }

    </tbody>

</table>

<table class="table table-sm table-bordered table-striped">
    <tr>
        <td><a asp-controller="Home" asp-action="CreateBowler" class="btn btn-primary btn-block">Add New Bowler</a></td>
    </tr>
</table>